/bower_components/*
!/bower_components/iron-overlay-behavior/
/bower_components/iron-overlay-behavior/*
!/bower_components/iron-overlay-behavior/iron-overlay-behavior.html

/public/components/timer-controls/*
!/public/components/timer-controls/timer-controls.html
!/public/components/timer-controls/script.js

/node_modules/
/yarn-error.log
