.control-panel {
  font-family: roboto, sans-serif;
  line-height: 1.5;
  padding: 2rem;
}

.control-panel h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 0.62;
  padding: 2rem 0 0.7rem;
}

.control-panel .thin {
  font-weight: 300;
  letter-spacing: -0.021em;
}

.control-panel h2 {
  padding-top: 3rem;
  font-weight: 300;
  font-size: 1.7rem;
  padding-bottom: 0.4rem;
}
